<!-- views/events-new.handlebars -->
<div class="row m-4">
  <div class="col-lg-6 offset-lg-3">
    <form action="/events" method="post">
      {{> events-form }}
      <div class="text-right">
        <button type="submit" class="btn btn-primary" name="button">Save</button>
      </div>
    </form>
  </div>
</div>